<h3 class="text-capitalize small">{{student.firstname}} {{student.lastname}} | <span class="text-uppercase">{{student.course}}</span></h3>

<br>

{{!-- {{firstYearfirstTrime subjects}} --}}
<div class="row">
    <h5>1st Year 1st Trimester</h5>
    {{{firstYearfirstTrime subjects student}}}
    <br>
    <h5>1st Year 2nd Trimester</h5>
    {{{firstYearsecondTrime subjects}}}
    <br>
    <h5>1st Year 3rd Trimester</h5>
    {{{firstYearthirdTrime subjects}}}

    <br><br><hr><br>

    <h5>2nd Year 1st Trimester</h5>
    {{{secondYearfirstTrime subjects}}}
    <br>
    <h5>2nd Year 2nd Trimester</h5>
    {{{secondYearsecondTrime subjects}}}
    <br>
    <h5>2nd Year 3rd Trimester</h5>
    {{{secondYearthirdTrime subjects}}}

    <br><br><hr><br>

    <h5>3rd Year 1st Trimester</h5>
    {{{thirdYearfirstTrime subjects}}}
    <br>
    <h5>3rd Year 2nd Trimester</h5>
    {{{thirdYearsecondTrime subjects}}}
    <br>
    <h5>3rd Year 3rd Trimester</h5>
    {{{thirdYearthirdTrime subjects}}}

    <br><br><hr><br>

    <h5>4th Year 1st Trimester</h5>
    {{{fourthYearfirstTrime subjects}}}
</div>